.products{

    /* padding: 20px; */
    text-align: center;
  
    
}

.products img{

    width: 200px;
   height: 250px;
   text-align: center;
}

.cardTitle{
    font-size: 15px;
}

/* .myCard {
    overflow: hidden;
    height: 80vh;
    width: 30vw;
} */

.Card {
    overflow: hidden;
    height: 70vh !important;
    width: 30vw;
}

.myCard {
    display: flex;
    justify-content: center;
}